# CI Environment
dist: bionic

# Job Configurations
jobs:
  include:
    - language: node_js
      node_js: 14
      python: "3.7.9"
      addons:
        sonarcloud:
          organization: "swsnu"
          token:
            secure: "l4NqIHCHMkpfOMIf7BSEsl85R4AB/GV/cKK/6EYauw0yzK5CYk24pNdSLLKqXrD5RYRM0JbWg6lf/IDvsnhgDHNN4obmT9SPqsw2CU10KfMQBwK9AQTL3cc+sNha5ohJy7cCZUfnph11qB0R33FfALeaNZoIIvT7mQy5Kxoxea3qmU0OFcP5qsZrbHQoCy+fghxL4elktEz77ru1NwnRo5GVgYHK+7QOud0irTJaSA6Zdo2YiC9kInwyRAUypS3KCYWqUn/mXqwq8aLkBscS+2Ss+jHC8vnVxjiBBL/Jk42dc+UoLk3gBdHGid53pFIewt6lGkDJngXSkruzPqAgUmLEsYDBWgY1IscxUBPEYpe4ABw0ZeEIsZec47OV5gsrc3J/oHM1w8X0BUhjGkEmnOZAwACO3ba2GJkyWA7N2j6z9FfLcg3KD/GzHkC2Hzsj/7+3J9UqcA9koI+CJ0M+ouUeKREwlfP+fQIwk+zjDXJk5MuHS3WUebMTHgAznlwKeRkoBN8oakzD18Ab7BK+K/946Z+DDZkX6fAyghYb9/Gr5gCgSPc0iTH6vQER04tD/pGip1jyh9z1IUXAoz7RgxuhqIJnH+6A0Q8ATh9tSuI0ZECWl7xunIkd4QzeRbn8rzkFr1w9XINPHVpupv1ZW9wXReoJwwRN5VHtD2mJJ6s="
      install:
        - source ~/virtualenv/python3.7/bin/activate
        - cd backend/vesta
        - pip install -r requirements.txt
        - pip install coveralls
        - cd ../../frontend/vesta
        - yarn install
        - yarn global add coveralls
        - gem install coveralls-lcov
      script:
        - ./node_modules/.bin/eslint src
        - yarn test --coverage --watchAll=false
        - coveralls-lcov -v -n coverage/lcov.info > coverage.json
        - cd ../../backend/vesta
        - pylint **/*.py --load-plugins pylint_django
        - coverage run --source='.' manage.py test
        - coverage xml
        - cd ../.. && sonar-scanner
        - coveralls --merge=frontend/vesta/coverage.json
 
